<launch>

<rosparam file="$(find iiwa_with_gripper_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="iiwa_with_gripper" args="revolute 1_position_controller revolute 2_position_controller revolute 3_position_controller revolute 4_position_controller revolute 5_position_controller revolute 6_position_controller revolute 7_position_controller revolute 8_position_controller revolute 10_position_controller revolute 11_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/iiwa_with_gripper/joint_states"/>
</node>

</launch>